<h3> "{{ title }}"</h3>
{{ source }}, ({{ date }}) <a href="{{ url }}" target="_blank" style="font-weight: bold;color: blue;">SOURCE</a>
<hr/>
<span style="color: blue;line-height:50%;">
{{ text }}
</span>
<br/>
<hr/>
<i>source: {{ source }}
<br/>input_file: {{ input_file }} 
<br/>document_name: {{ document_name }} 
<br/>document_id: {{ document_id }} 
<br/>filename: {{ filename }} 
<br/>id: {{ id }} 
</i>
